div {
  background-color: red;
}

.devop {
  background-color: green;
}

div.devop#div-0 {
  background-color: white;
}

body div.devop#div-0 {
  background-color: yellow;
}

ul :first-child {
  background-color: blue;
}

ul:hover {
  background-color: black;
}
